<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="logo header__logo footer__logo">
          <a href="" class="logo__img">
            <img src="assets/img/svg/logo.svg" alt="">
          </a>
          <p class="logo__slogan">Производство и продажа краски <br> напрямую с завода в Европе <br>
            Работаем с 1960 года</p>
        </div>
      </div>
      <div class="col-md-6 text-md-right">
        <div class="footer__flex">
          <div>
            <a href="tel:89265758061" class="header__phone">+7 (926) 575 80 61</a>
            <p class="header__worktime">с 09:00 до 18:00 без выходных</p>
          </div>
          <button class="btn-reset btn footer__btn">Перезвонить мне</button>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between mt-md-5">
      <div class="col-md-6"><a href="" class="footer__link">Политика конфиденциальности</a></div>
      <div class="col-md-6">
        <div class="footer__dev">Разработка и продвижение
          <a class="" href="https://nikto.agency/" target="_blank">
            <span>nikto.agency</span>
            <svg width="100" height="16">
              <use xlink:href="assets/img/sprite.svg#nikto-logo"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
