<header class="header js-fixed-total">
  <div class="header__top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 col-2 position-static">
          <button class="btn-reset header__burger burger js-toggle-mobile-menu d-xl-none">
          <span class="burger__lines">
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
              </span>
          </button>
          <nav class="header__nav header-nav js-mobile-menu">
            <ul class="header-nav__list">
              <li class="header-nav__item"><a href="#production" class="header-nav__link">Продукция</a></li>
              <li class="header-nav__item"><a href="#about" class="header-nav__link">О заводе </a></li>
              <li class="header-nav__item"><a href="#partners" class="header-nav__link">Оптовикам</a></li>
              <li class="header-nav__item"><a href="#reviews" class="header-nav__link">Отзывы</a></li>
              <li class="header-nav__item"><a href="#example" class="header-nav__link">Акции</a></li>
              <li class="header-nav__item"><a href="#contacts" class="header-nav__link">Где купить</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3 col-8">
          <div class="header__social social">
            <a href="" class="social__link">
              <svg width="21" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-tlg"></use>
              </svg>
            </a>
            <a href="" class="social__link">
              <svg width="21" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-inst"></use>
              </svg>
            </a>
            <a href="" class="social__link">
              <svg width="21" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-2 d-lg-none header__mobile-phone">
          <a class="" href="tel:89265758061" >
            <svg width="37" height="37">
              <use xlink:href="assets/img/sprite.svg#icon-mobile-phone"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="logo header__logo">
            <a href="" class="logo__img">
              <img src="assets/img/svg/logo.svg" alt="">
            </a>
            <p class="logo__slogan">Производство и продажа краски <br> напрямую с завода в Европе <br>
              Работаем с 1960 года</p>
          </div>
        </div>
        <div class="col-6 text-lg-right d-none d-lg-block">
          <a href="tel:89265758061" class="header__phone">+7 (926) 575 80 61</a>
          <p class="header__worktime">с 09:00 до 18:00 без выходных</p>
        </div>
      </div>
    </div>
  </div>
</header>
